---
import { getCollection, render } from 'astro:content';

import { getTitleFromHeadings } from '../../util.astro';
import Main from '../../layouts/Main.astro';

// https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default
export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
const title = getTitleFromHeadings(headings);
---

<Main title={title}>
  <p style={{fontFamily: 'var(--font-monospace-code)'}}>
    {post.data.published.toLocaleDateString()}
  </p>
  <Content />
</Main>
