---
import { getCollection } from 'astro:content';

import Main from '../layouts/Main.astro';
import ContentCard from '../components/ContentCard.astro';

const posts = (await getCollection('posts')).sort((a, b) =>
  // newest -> oldest
  b.data.published.valueOf() - a.data.published.valueOf())
---

<Main title="Home">
  {await Promise.all(
    posts.map(async (post) => {
      return (
        <ContentCard
          type="posts"
          id={post.id}
          title={post.data.title}
          date={post.data.published}
          tags={post.data.tags}
        />
      );
    })
  )}
  <hr />
</Main>
