---
import { getCollection } from 'astro:content';

import { getTitleFromPost } from '../util.astro';
import Main from '../layouts/Main.astro';
import Date from '../components/Date.astro';

const posts = (await getCollection('posts')).sort((a, b) =>
  // newest -> oldest
  b.data.published.valueOf() - a.data.published.valueOf())
---

<Main title="Home">
  {await Promise.all(
    posts.map(async (post) => {
      const title = post.data.title ?? await getTitleFromPost(post);
      return (
        <div class="post">
          <div>
            <p><a href={`/posts/${post.id}/`}>{title}</a></p>
            {post.data.tags?.length
              && <p class="tags">
                   {post.data.tags.map(tag => <span class="tag">{tag}</span>)}
                 </p>}
          </div>
          <p><Date date={post.data.published} /></p>
        </div>
      );
    })
  )}
</Main>

<style>
div.post {
  display: flex;
  padding: var(--size-2);
}
div > div:nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
}
div > div:nth-child(1) > * {
  padding: none;
}

.tags {
  display: flex;
  gap: var(--size-2);
}

.tag {
  font-size: var(--font-size-0);
  background-color: var(--surface-2);
  border-radius: var(--radius-conditional-2);
  padding: var(--size-1) var(--size-2);
}
</style>
